
./node_modules
./node_modules/.bin
./client/node_modules   
./client/node_modules/.bin
./server/node_modules/.bin
./server/node_modules

./client/.idea
./client/.env
./client/.vscode
./server/.idea
server/.env
server/.vscode
server/tmp
server/.gitignore
client/.gitignore
client/.vscode/extensions.json
.gitignore
client/.eslintrc.cjs